*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #E1BB80;
}
h1{
    background-color: #5D5F71;
    color:white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
img{
    height:100px ;
    width: 100px;
    object-fit: cover;

}
.choice {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: #5D5F71;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}
.AllScore{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
   
}
.score{
    background-color: #8d2669;
    height: 100px;
    width: 150px;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
}
.vs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: #01200F;
}

#battle{
    
    background-color: #5D5F71;
    color: #ffffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#action,#action2{
    margin-bottom: 1rem;
}
#userScore,#compScore{
    font-size: 3rem;
}
.msgContainer{
    margin-top: 3rem;
}
#msg{
    background-color: #5D5F71;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#btn{
    margin-top: 2rem;
    background-color: #06BCC1;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
